**/.DS_Store
w1/inv1/
w3/rp_flask_api/venv/
w3/rp_flask_api/__pycache__
w3/url_flask_api/url_api/
w3/url_flask_api/venv/
w3/url_flask_api/__pycache__
w3/url_shortener_api/__pycache__/
w3/url_shortener_api/venv/
w4/venv/
w6/venv/
